{% extends '::base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Title</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ click.id }}</td>
        </tr>
        <tr>
            <td>User-Agent</td>
            <td>{{ click.ua }}</td>
        </tr>
        <tr>
            <td>IP</td>
            <td>{{ click.ip }}</td>
        </tr>
        {% if click.ref %}
            <tr>
                <td>Referer</td>
                <td>{{ click.ref }}</td>
            </tr>
        {% endif %}
        {% if click.param1 %}
            <tr>
                <td>Param1</td>
                <td>{{ click.param1 }}</td>
            </tr>
        {% endif %}
        {% if click.param2 %}
            <tr>
                <td>Param2</td>
                <td>{{ click.param2 }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Error</td>
            <td>{{ click.error }}</td>
        </tr>
    </table>
    <a href="{{ path('click.homepage') }}">Return to Home page</a>
{% endblock %}